@use '../abstracts/' as *;
@use 'sass:math';

.blog-card {
	@include shadow("card");
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	padding: 2rem 4rem 2rem 2rem;
	position: relative;

	&::before {
		// Safariでsvgがぼやける対策
		$mag: 10;
		background-image: url("#{$image-dir}/archive/blog_card_blob.svg");
		background-repeat: no-repeat;
		background-size: 9.309em 8.68em;
		bottom: -4.44em;
		content: "";
		font-size: #{$mag}rem;
		height: 8.68em;
		position: absolute;
		right: -4.6em;
		transform: scale(math.div(1, $mag));
		width: 9.309em;
	}

	&__header {
		margin-bottom: auto;
	}

	&__title {
		font-size: 1.6rem;

		& > a {
			@include line-clamp(3);
			color: map-get($colors, "text-main");
			max-height: ($heading-line-height * 3 - 0.2em);
			&:hover {
				// text-decoration: underline;
			}
		}
	}

	&__date {
		color: map-get($colors, "text-sub");
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0.1em;
	}
}
