@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../components/tag-list';

.blog-card {
	@include shadow("card");
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	padding: 2rem 4rem 2rem 2rem;
	position: relative;

	&::before {
		background-image: url("#{$image-path}post/archive-blob.svg");
		background-repeat: no-repeat;
		bottom: -5.9em;
		content: "";
		height: 12.4em;
		position: absolute;
		right: -6.5em;
		transform: scale(0.7);
		width: 13.3em;
	}

	// @for $i from 2 through 9 {
	// 	&:nth-of-type(#{$i})::before {
	// 		transform: rotate($i * 45deg);
	// 	}
	// }

	&__header {
		margin-bottom: auto;
	}

	&__title {
		font-size: 1.6rem;

		& > a {
			@include line-clamp(3);
			color: map-get($colors, "text-main");
			max-height: ($heading-line-height * 3 - 0.3em);
			&:hover {
				// text-decoration: underline;
			}
		}
	}

	&__date {
		color: map-get($colors, "text-sub");
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0.1em;
	}
}
