@use '../abstracts/' as *;
@use 'sass:math';

.entry-content {
	margin: 13rem auto 0;
	max-width: 80rem;
	width: 100%;
	@include mq(mobile) {
		margin: 9rem auto 0;
	}

	h2 {
		font-size: 2.8rem;
		@include mq(mobile) {
			font-size: 2.65rem;
		}
		&::after {
			@include shadow(hr);
			background: map-get($colors, bg-base);
			content: '';
			display: block;
			height: 2px;
			margin-top: calc(1.2rem - ((1em * #{$heading-line-height} - 1em) / 2));
		}
	}

	h3 {
		font-size: 2.5rem;
		@include mq(mobile) {
			font-size: 2.35rem;
		}
	}

	h4 {
		font-size: 2.2rem;
		@include mq(mobile) {
			font-size: 2.05rem;
		}
	}

	h5 {
		font-size: 1.9rem;
		@include mq(mobile) {
			font-size: 1.75rem;
		}
	}

	h6 {
		font-size: 1.6rem;
		@include mq(mobile) {
			font-size: 1.45rem;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
		margin-top: 1.75em;
	}

	h3,
	h4,
	h5,
	h6 {
		@include line-height-crop($heading-line-height, 1, bottom);
	}

	> h2:nth-child(1) {
		margin-top: 0;
	}

	> p:nth-child(1) {
		@include line-height-crop($text-line-height, 1, top);
		margin-top: 0;
	}

	ol,
	ul {
		margin: 1.2em 0 0;
		padding-left: calc(0.95em + 7px);

		> li {
			font-weight: 700;
			> p {
				font-weight: initial;
				&:first-child {
					margin-top: 0.4em;
				}
			}
			&:not(:last-of-type) {
				> p:last-child {
					margin-bottom: 2.1em;
				}

				> div,
				img,
				figure {
					&:last-child {
						margin-bottom: 4.3rem;
					}
				}
			}

			> .code-toolbar {
				&:first-child {
					margin-top: 1.5rem;
				}
			}

			> code {
				&:first-child {
					+ .code-toolbar {
						margin-top: 1.5rem;
					}
				}
			}
		}
	}

	ol ul,
	ol ol,
	ul ul,
	ul ol {
		margin: 0.75em 0 0;
	}

	a {
		// text-decoration: underline;
		&[target='_blank']::after {
			background-image: url('#{$image-dir}/post/link.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			content: '';
			display: inline-flex;
			height: 1.2em;
			margin-left: 0.1em;
			transform: translateY(0.2em);
			width: 1.2em;
		}
		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: max(1px, 0.1em);
		}
	}

	small {
		color: map-get($colors, text-sub);
		display: block;
		font-size: 1.4rem;
		line-height: $text-line-height;
		letter-spacing: 0.01em;
		@include mq(mobile) {
			font-size: 1.2rem;
		}
	}

	strong {
		@include bg-gradient;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100% 30%;
		font-weight: 700;
	}

	p {
		+ p,
		+ ol,
		+ ul {
			margin: 1.8em 0 0;
		}

		+ .wp-block-image,
		+ .wp-block-columns .wp-block-image,
		+ .code-toolbar,
		+ .wp-block-table,
		+ dl,
		+ blockquote {
			margin: 1rem 0 0;
			@include mq(mobile) {
				margin: 0.8rem 0 0;
			}
		}
	}

	:not(pre) {
		> code {
			background-color: lighten(map-get($colors, text-sub), 40%);
			border-radius: 0.25em;
			font-family: inherit;
			font-size: 1em;
			font-weight: inherit;
			margin: 0 0.1em;
			padding: 0.15em 0.4em;
		}
	}

	&--privacy {
		> h2 {
			font-size: 2.4rem;
			@include mq(mobile) {
				font-size: 2.25rem;
			}
			&:nth-of-type(n + 2) {
				margin-top: 5.2rem;
			}
		}
	}

	&--contact {
		max-width: 60rem;
	}

	&--blog {
		margin: 10rem auto 0;
	}

	.wp-block-image,
	.wp-block-columns .wp-block-image {
		margin: 3rem 0 0;
		img {
			box-shadow: 2px 2px 4px rgb(255 255 255 / 90%), -2px -2px 4px rgb(0 0 0 / 10%), inset -2px -2px 4px rgb(255 255 255 / 90%), inset 2px 2px 4px rgb(0 0 0 / 16%);
			border-radius: 1rem !important;
		}
	}

	.wp-block-columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
		margin: 3rem 0 0;
		gap: 1.5rem;
		.wp-block-image {
			margin: 0;
		}
	}

	.wp-block-column:not(:first-child) {
		margin-left: 0;
	}

	:not(pre) > code[class*='language-'],
	pre[class*='language-'] {
		box-shadow: 2px 2px 4px rgba(255, 255, 255, 1), -2px -2px 4px rgb(0, 0, 0, 0.3), inset -2px -2px 6px rgb(255, 255, 255, 0.3), inset 2px 2px 6px rgb(0, 0, 0, 0.5);
		background: map-get($colors, text-main);
	}

	code[class*='language-'],
	pre[class*='language-'] {
		font-size: 1.4rem;
		border-radius: 1rem;
		text-shadow: none;
	}

	pre[class*='language-'] {
		margin: 0;
		padding: 4rem 2rem 3rem;
		z-index: map-get($layer, code);
		@include mq(mobile) {
			max-height: min(50vh, 60rem);
		}
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string {
		background: none;
	}

	.code-toolbar {
		margin: 3rem 0 0;

		> .toolbar {
			display: flex;
			opacity: 1;
			right: 0.6rem;
			top: 0.6rem;
			z-index: map-get($layer, code) + 1;
			> .toolbar-item {
				&:not(:last-of-type) {
					margin-right: 0.7em;
				}
				> button,
				> span {
					@include center;
					box-shadow: -1px -1px 2px rgba(255 255 255 / 40%), 2px 2px 4px rgb(0 0 0 / 70%), inset 1px 1px 2px rgb(255 255 255 / 40%), inset -1px -1px 2px rgb(0 0 0 / 70%);
					background: map-get($colors, text-main);
					border-radius: 0.5em;
					font-size: 1.2rem;
					line-height: 1;
					padding: 0.5em 0.6em;
					transition: box-shadow 0.5s map-get($easing-functions, easeOutCirc);
					@include mq(mobile) {
						font-size: 1.1rem;
					}
				}

				span {
					pointer-events: none;
				}

				> button {
					background-image: url('#{$image-dir}/post/copy.svg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					padding: 1em 1.3em;
					position: relative;
					&:hover,
					&[data-copy-state='copy-success'] {
						box-shadow: 2px 2px 4px rgba(255 255 255 / 30%), -1px -1px 2px rgb(0 0 0 / 60%), inset -1px -1px 2px rgb(255 255 255 / 30%), inset 2px 2px 4px rgb(0 0 0 / 80%);
					}
					> span {
						height: 0;
						overflow: hidden;
						padding: 0;
						position: absolute;
						width: 0;
					}
					&[data-copy-state='copy-success'] {
						> span {
							animation: copied-show 5s map-get($easing-functions, easeOutCirc) 0s backwards;
						}
					}
				}
			}
			a {
			}

			span {
				background: none;
				box-shadow: none;
				color: lighten(map-get($colors, text-sub), 17%);
				font-size: 1em;
				font-weight: 700;
				letter-spacing: 0.1em;
			}
		}
	}

	.token.comment,
	.token.block-comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: #9095b2;
	}

	.line-highlight {
		background: none;
		// background-color: rgba(lighten(map-get($colors, text-main), 30%), 0.2);
		background: linear-gradient(to right, rgba(lighten(map-get($colors, text-main), 30%), 0.3) 90%, rgba(lighten(map-get($colors, text-main), 30%), 0));
		margin-top: 1.4em;
		z-index: map-get($layer, default) - 2;
		&::before,
		&::after {
			display: none;
		}
	}

	blockquote {
		background-image: url('#{$image-dir}/post/quote_open.svg');
		background-position: 1em 0.8em;
		background-repeat: no-repeat;
		background-size: 6em 6em;
		border-radius: 1rem;
		box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.69), -1px -1px 2px rgba(0, 0, 0, 0.1), inset -2px -2px 6px rgba(255, 255, 255, 0.69), inset 2px 2px 6px rgba(0, 0, 0, 0.12);
		margin: 3rem 0 0;
		max-width: 100%;
		padding: 3rem 3rem 3rem 7.1rem;
		@include mq(mobile) {
			background-position: 1em 1.1em;
			background-size: 5em 5em;
			padding-left: 6.2em;
		}

		> p {
			color: map-get($colors, text-sub);
			font-size: 1.4rem;
			font-style: italic;
			@include mq(mobile) {
				font-size: 1.3rem;
			}
			&:first-of-type {
				margin-top: 0;
			}
			* {
				font-style: inherit;
			}
		}

		> cite {
			display: block;
			font-size: 1.3rem;
			font-style: italic;
			margin-top: 1.3em;
			text-align: right;
			@include mq(mobile) {
				font-size: 1.2rem;
			}
		}
	}

	dl {
		border-radius: 1rem;
		box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.69), -1px -1px 2px rgba(0, 0, 0, 0.1), inset -2px -2px 6px rgba(255, 255, 255, 0.69), inset 2px 2px 6px rgba(0, 0, 0, 0.12);
		margin: 3rem 0 0;
		max-width: 100%;
		padding: 3rem;
		@include mq(mobile) {
			padding: 2.5rem 2rem;
		}

		> dt {
			font-size: 1.8rem;
			font-weight: 700;
			@include mq(mobile) {
				font-size: 1.6rem;
			}
			&:nth-of-type(n + 2) {
				margin-top: 1.8em;
			}
		}

		> dd {
			margin: 0;
		}
	}

	.wp-block-table {
		border-radius: 1rem;
		box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.69), -1px -1px 2px rgba(0, 0, 0, 0.1), inset -2px -2px 6px rgba(255, 255, 255, 0.69), inset 2px 2px 6px rgba(0, 0, 0, 0.12);
		margin: 3rem 0 0;
		max-width: 100%;
		width: max-content;

		table {
			width: auto;
			> thead {
				background-color: rgba(map-get($colors, text-sub), 0.1);
			}

			th,
			td {
				font-size: 1.6rem;
				padding: 0.5em 1.5em;
				white-space: nowrap;
				@include mq(mobile) {
					font-size: 1.4rem;
				}
			}

			th {
				font-weight: 700;
				white-space: nowrap;
			}

			> tbody {
				> tr {
					&:nth-of-type(even) {
						background-color: rgba(map-get($colors, text-sub), 0.1);
					}
				}
			}
		}
	}
}

.medium-zoom--opened .medium-zoom-overlay {
	z-index: map-get($layer, medium-zoom);
}

.medium-zoom-image--opened {
	z-index: map-get($layer, medium-zoom) + 1;
}

@keyframes copied-show {
	0% {
		height: auto;
		left: 0;
		opacity: 0;
		top: 0;
		width: auto;
	}

	10% {
		height: auto;
		left: 0;
		opacity: 1;
		top: -2em;
		width: auto;
	}

	100% {
		height: auto;
		left: 0;
		opacity: 1;
		top: -2em;
		width: auto;
	}
}
