@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header-logo {
	$this: &;
	@include center;
	@include bg-gradient;
	@include shadow("button-action");
	border-radius: 50%;
	height: 7em;
	margin-right: auto;
	width: 7em;
	&__inner {
		@include center;
		@include bg-gradient;
		border-radius: 50%;
		box-shadow: 0.2em 0.2em 0.4em rgba(255, 255, 255, 0.3),
			-0.1em -0.1em 0.2em rgba(0, 0, 0, 0.1),
			inset -0.1em -0.1em 0.3em rgba(255, 255, 255, 0.3),
			inset 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.12);
		height: 5.6em;
		transition: box-shadow 0.3s $easeInQuad;
		width: 5.6em;

		#{$this}:hover & {
			box-shadow: none;
		}
	}

	&__text {
		font-size: 1em;
		height: 2.3em;
		margin: 0.3em 0 0 0.4em;
		width: 2.5em;
	}
}
