@use '../abstracts/' as *;
@use 'sass:math';

.pagination {
	column-gap: 1.6rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, 4em);
	grid-template-rows: 4em;
	justify-content: center;
	margin-top: 6rem;
	@include mq(mobile) {
		column-gap: 1.4rem;
		margin-top: 4rem;
	}
	& > .page-numbers {
		$font-size: 22;
		@include center;
		border-radius: 50%;
		color: map-get($colors, text-main);
		font-size: #{math.div($font-size, 10)}rem;
		font-weight: 700;

		&:not(.current):not(.dots) {
			@include shadow(button-base);
		}

		&.current {
			@include shadow(press-button-base);
		}

		&.prev,
		&.next {
			background-repeat: no-repeat;
			background-size: math.div(8, $font-size) + 0em, math.div(12, $font-size) + 0em;
		}

		&.prev {
			background-image: url('#{$image-dir}/archive/pagination_prev.svg');
			background-position: left 0.7em center;
		}

		&.next {
			background-image: url('#{$image-dir}/archive/pagination_next.svg');
			background-position: right 0.7em center;
		}
	}
}
