@use '../abstracts/variables' as *;

html {
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: map-get($colors, "bg-base");
}

ol,
ul,
dl {
	margin: 0;
	padding: 0;
}

input[type="text"],
textarea {
	background-color: #fff;
	border: none;
	padding: 1rem 2rem;
}

button {
	border: none;
	padding: 0;
}

:focus,
a:focus,
button:focus {
	outline: solid 2px map-get($colors, "text-link");
}

/* Disable outline when mouse down */
:focus[data-focus-method="mouse"],
:focus[data-focus-method="touch"] {
	outline: none;
}
