@use '../abstracts/variables' as *;

html {
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: map-get($colors, bg-base);
}

p {
	margin: 0.75em 0 0;
}

ol,
ul,
dl {
	margin: 0;
	padding: 0;
}

ol ul,
ol ol,
ul ul,
ul ol {
	padding-left: calc(1.45em + 7px);
}

ul li::marker {
	font-size: 1em;
}

input[type='text'],
input[type='search'],
textarea {
	background-color: #fff;
	border: none;
	box-sizing: border-box;
	caret-color: map-get($colors, text-link);
	padding: 1rem 2rem;
}

button {
	border: none;
	padding: 0;
}

/* Disable outline when mouse down */
.js-focus-visible:focus:not(.focus-visible),
[data-js-focus-visible]:focus:not([data-focus-visible-added]),
:focus:not(:focus-visible) {
	outline: none;
}

:focus {
	outline: map-get($colors, text-link) solid 2px;
}

:focus-visible {
	outline: map-get($colors, text-link) solid 2px;
}

a:focus,
button:focus {
	outline: map-get($colors, text-link) solid 2px;
}
