@use './variables' as *;

@mixin center {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin bg-gradient {
	background: linear-gradient(to bottom right, map-get($colors, bg-gradient));
}

@mixin shadow($name) {
	$press-button-base: 1px 1px 2px rgba(255, 255, 255, 0.9), -1px -1px 2px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 4px rgba(0, 0, 0, 0.16);

	@if button-base == $name {
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1), 4px 4px 4px transparent, inset 2px 2px 4px rgba(255, 255, 255, 0.9), inset -2px -2px 4px rgba(0, 0, 0, 0.05);
		transition: box-shadow 0.6s map-get($easing-functions, easeOutCirc);
		&:hover {
			box-shadow: $press-button-base;
		}
	} @else if press-button-base == $name {
		box-shadow: $press-button-base;
	} @else if button-gradient == $name {
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12), inset 2px 2px 4px rgba(255, 255, 255, 0.6), inset -2px -2px 4px rgba(0, 0, 0, 0.1);
	} @else if card == $name {
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 8px rgba(255, 255, 255, 0.6), inset -4px -4px 8px rgba(0, 0, 0, 0.05);
	} @else if input == $name {
		box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.69), -1px -1px 2px rgba(0, 0, 0, 0.1), inset -2px -2px 3px rgba(255, 255, 255, 0.69), inset 2px 2px 3px rgba(0, 0, 0, 0.12);
	} @else if hr == $name {
		box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.69), -1px -1px 2px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(255, 255, 255, 0.69), inset 1px 1px 2px rgba(0, 0, 0, 0.12);
	}
}

@mixin quicksand-one-line {
	height: 0.775em;
	line-height: 0.775;
}

@mixin line-height-crop($line-height, $capital-letter: 1, $position: both) {
	@if both == $position or top == $position {
		&::before {
			content: "";
			display: block;
			height: 0;
			margin-top: calc((#{$capital-letter} - #{$line-height}) * 0.5em);
			width: 0;
		}
	}
	@if both == $position or bottom == $position {
		&::after {
			content: "";
			display: block;
			height: 0;
			margin-bottom: calc((#{$capital-letter} - #{$line-height}) * 0.5em);
			width: 0;
		}
	}
}

@mixin line-clamp($count: 3) {
	// 引数が数値以外だったらエラーを返す
	@if type-of($count) != "number" {
		@error 'line-clampの引数は必ず数値で指定してください';
	}

	@if $count == 1 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		-webkit-line-clamp: $count;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

@mixin mq($breakpoint: mobile) {
	@if mobile == $breakpoint {
		@media (max-width: 48em) {
			@content;
		}
	} @else {
		@media (max-width: ($breakpoint/16*1em)) {
			@content;
		}
	}
}
