$colors: (
	text-main: hsl(227, 20%, 20%),
	text-sub: hsl(227, 10%, 60%),
	text-link: hsl(281, 32%, 50%),
	bg-base: hsl(227, 24%, 93%),
	bg-menu: hsl(227, 10%, 60%),
	bg-action: (
		hsl(255.71, 45.65%, 81.96%) 0%,
		hsl(256.67, 45.49%, 81.9%) 8.1%,
		hsl(259.39, 45%, 81.73%) 15.5%,
		hsl(263.62, 44.17%, 81.46%) 22.5%,
		hsl(269.18, 42.96%, 81.08%) 29%,
		hsl(275.89, 41.35%, 80.6%) 35.3%,
		hsl(283.64, 39.38%, 80.04%) 41.2%,
		hsl(292.31, 37.11%, 79.4%) 47.1%,
		hsl(301.77, 36.06%, 78.94%) 52.9%,
		hsl(310.05, 41.16%, 79.43%) 58.8%,
		hsl(316.54, 45.95%, 79.87%) 64.7%,
		hsl(321.61, 50.21%, 80.25%) 71%,
		hsl(325.47, 53.77%, 80.56%) 77.5%,
		hsl(328.24, 56.46%, 80.79%) 84.5%,
		hsl(329.94, 58.16%, 80.93%) 91.9%,
		hsl(330.53, 58.76%, 80.98%) 100%,
	),
	bg-action2: (
		hsl(255.71, 45.65%, 81.96%) 0%,
		hsl(257.14, 45.65%, 81.96%) 8.1%,
		hsl(258.57, 45.65%, 81.96%) 15.5%,
		hsl(263.72, 46.24%, 81.76%) 22.5%,
		hsl(269.33, 48.39%, 81.76%) 29%,
		hsl(275.22, 48.94%, 81.57%) 35.3%,
		hsl(282.13, 50.54%, 81.76%) 41.2%,
		hsl(290, 51.06%, 81.57%) 47.1%,
		hsl(296.4, 53.19%, 81.57%) 52.9%,
		hsl(303.53, 53.68%, 81.37%) 58.8%,
		hsl(311.32, 55.79%, 81.37%) 64.7%,
		hsl(317.78, 56.25%, 81.18%) 71%,
		hsl(322.91, 56.7%, 80.98%) 77.5%,
		hsl(326.79, 58.33%, 81.18%) 84.5%,
		hsl(329.47, 58.76%, 80.98%) 91.9%,
		hsl(330.53, 58.76%, 80.98%) 100%,
	),
);

$margin-base-horizontal: 2rem;
