@use '../../abstracts/' as *;
@use 'sass:math';

.contact-form {
	display: grid;
	row-gap: 4rem;

	&__filed {
		position: relative;
	}

	&__label {
		@include quicksand-one-line;
		font-size: 2rem;
		letter-spacing: 0.2em;
		position: relative;
	}

	&__error {
		bottom: 0;
		color: map-get($colors, text-error);
		display: block;
		font-size: 1.2rem;
		left: calc(100% + 0.75em);
		letter-spacing: 0.1em;
		line-height: 1;
		margin-top: 0;
		overflow: hidden;
		position: absolute;
		width: max-content;

		&[aria-hidden='true'] {
			&::before {
				transform: translateY(100%);
			}
		}

		&[aria-hidden='false'] {
			&::before {
				transform: translateY(0);
			}
		}

		&::before {
			content: attr(data-message);
			display: block;
			transition: transform 0.4s ease-out;
		}

		&--submit {
			height: fit-content;
			left: 0;
			max-width: fit-content;
			top: 0;
			transform: translateY(-100%);
		}
	}

	&__input {
		@include shadow(input);
		border-radius: 1rem;
		margin-top: 0.75em;
		width: 100%;

		&--input {
			height: 4rem;
		}

		&--textarea {
			height: 30rem;
		}
	}
}
