@use '../../abstracts/' as *;
@use 'sass:math';

.contact-form {
	display: grid;
	row-gap: 4rem;

	&__filed {
	}

	&__label {
		@include quicksand-one-line;
		font-size: 2rem;
		letter-spacing: 0.2em;
		width: 100%;
	}

	&__error {
		color: red;
		display: block;
		font-size: 0.6em;
		line-height: 1;
		margin-top: 0;
		overflow: hidden;
		transition: height 0.4s ease-out, margin-top 0.4s ease-out;

		&[aria-hidden='true'] {
			height: 0;
		}

		&[aria-hidden='false'] {
			height: 1em;
			margin-top: 0.9em;
		}
	}

	&__input {
		@include shadow(input);
		border-radius: 1rem;
		margin-top: 0.75em;
		width: 100%;

		&--input {
			height: 4rem;
		}

		&--textarea {
			height: 30rem;
		}
	}
}
