@use '../abstracts/' as *;
@use 'sass:math';

.menu-close {
	@include center;
	// align-items: flex-end;
	height: 3rem;
	position: absolute;
	right: 2rem;
	top: 3.35rem;
	width: 3rem;
	z-index: map-get($layer, menu) + 1;

	& > span {
		background-color: #fff;
		border-radius: 1.5px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15), inset 1px 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px 1px rgba(0, 0, 0, 0.2);
		height: 3px;
		left: 50%;
		position: absolute;
		top: 50%;
		width: 100%;

		&:nth-of-type(1) {
			transform-origin: bottom left;
			transform: rotate(-45deg) translate(-1.3em, calc(0.05em - 50%));
			transition: width 0.6s map-get($easing-functions, easeOutCirc) 0.2s;
			.menu[aria-hidden='false'] > & {
				animation: menu-close-show 0.6s map-get($easing-functions, easeOutCirc) 0.5s backwards;
			}
			.menu[aria-hidden='true'] > & {
				width: 0%;
			}
		}
		&:nth-of-type(2) {
			transform-origin: top left;
			transform: rotate(225deg) translate(-1.475em, calc(0em - 50%));
			transition: width 0.6s map-get($easing-functions, easeOutCirc) 0s;
			.menu[aria-hidden='false'] > & {
				animation: menu-close-show 0.6s map-get($easing-functions, easeOutCirc) 0.7s backwards;
			}
			.menu[aria-hidden='true'] > & {
				width: 0%;
			}
		}
	}
}

@keyframes menu-close-show {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
