@use '../abstracts/' as *;
@use 'sass:math';

.menu {
	$this: &;
	background-color: map-get($colors, bg-menu);
	border-radius: 0;
	display: none;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: map-get($layer, menu);
	&__inner {
		left: 50%;
		padding: 0 math.div(4, 1.035) + 0rem;
		position: fixed;
		top: math.div(12, 1.035) + 0rem;
		transition: opacity 0.6s map-get($easing-functions, easeOutCirc);
		transform: translateX(-50%);
		width: 100%;
		z-index: map-get($layer, menu) + 1;

		#{$this}[aria-hidden='true'] & {
			opacity: 0;
		}
	}
	&.is-open {
		display: block;
	}

	&[aria-hidden='false'] {
		animation: menu-show 2s map-get($easing-functions, easeOutCirc) 0.2s backwards;
	}

	&[aria-hidden='true'] {
		animation: menu-hide 0.6s cubic-bezier(0.73, 0.4, 0.7, 0.13) 0s backwards;
	}
}

@keyframes menu-show {
	0% {
		clip-path: circle(0% at 100vw 0);
	}

	100% {
		clip-path: circle(100%);
	}
}

@keyframes menu-hide {
	0% {
		clip-path: circle(100%);
	}

	100% {
		clip-path: circle(0% at 100vw 0);
	}
}
