@use '../abstracts/' as *;
@use 'sass:math';

.menu-nav {
	margin-top: math.div(6, 1.035) + 0rem;
	&__list {
	}

	&__item {
		&:not(:last-of-type) {
			margin-bottom: clamp(
				24px,
				#{math.div(2.4, 1.035) + 0rem},
				#{math.div(2.4, 1.035) + 0rem}
			);
		}
		&::before {
			content: normal;
		}

		&::after {
			background-color: #fff;
			border-radius: 1.5px;
			box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1),
				-1px -1px 1px rgba(0, 0, 0, 0.1),
				inset -1px -1px 1px rgba(255, 255, 255, 0.1),
				inset 1px 1px 1px rgba(0, 0, 0, 0.1);
			content: "";
			display: block;
			height: 2px;
			margin-top: clamp(
				10px,
				#{math.div(1, 1.035) + 0rem},
				#{math.div(1, 1.035) + 0rem}
			);
			width: 100%;
		}
	}
	&__link {
		@include quicksand-one-line;
		font-size: clamp(
			16px,
			#{math.div(1.8, 1.035) + 0rem},
			#{math.div(1.8, 1.035) + 0rem}
		);
		font-weight: 500;
		color: #fff;
		display: block;
		letter-spacing: 0.2em;

		text-indent: clamp(
			10px,
			#{math.div(1, 1.035) + 0rem},
			#{math.div(1, 1.035) + 0rem}
		);
	}
}
