@use '../abstracts/' as *;
@use "sass:math";

.menu-search {
	align-items: center;
	display: flex;
	position: relative;

	&__field {
		border-radius: clamp(
			19px,
			#{math.div(math.div(3.8, 1.035), 2) + 0rem},
			#{math.div(math.div(3.8, 1.035), 2) + 0rem}
		);
		box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.3),
			-1px -1px 4px rgba(0, 0, 0, 0.3),
			inset -2px -2px 3px rgba(255, 255, 255, 0.2),
			inset 2px 2px 3px rgba(0, 0, 0, 0.2);
		font-size: 1.4rem;
		font-size: clamp(16px, 1.4rem, 1.4rem);
		// height: math.div(3.8, 1.035) + 0rem;
		height: clamp(
			38px,
			#{math.div(3.8, 1.035) + 0rem},
			#{math.div(3.8, 1.035) + 0rem}
		);
		width: 100%;

		&::placeholder {
			color: map-get($colors, text-sub);
			letter-spacing: 0.1em;
		}

		&:focus {
			outline: none;
		}
	}

	&__submit-button {
		background-image: url("#{$image-dir}/header/search_icon.svg");
		background-repeat: no-repeat;
		background-size: contain;
		font-size: clamp(12px, 1rem, 1rem);
		height: 1.5em;
		position: absolute;
		right: math.div(1.5, 1.035) + 0rem;
		top: 50%;
		transform: translateY(-50%);
		width: 1.4em;

		& > svg {
			height: 100%;
			width: 100%;
		}
	}
}
